.rounded-circle {
    margin-left: 10px;
    margin-right: 10px;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.manageMembersBtn{
    margin-right: 20px;
}

.card {
    margin: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.dot {
    height: 25px;
    width: 39px;
    background-color: lawngreen;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

body {
    background: #f3f5f9
}

.divider { /* minor cosmetics */
    color: red;
    display: table;
    font-size: 24px;
    text-align: center;
    width: 75%; /* divider width */
    margin: 1px auto; /* spacing above/below */
}

.divider span {
    display: table-cell;
    position: relative;
}

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 10px; /* adjust vertical align */
    -moz-background-size: 100% 2px; /* line width */
    background-size: 100% 2px; /* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}


.divider span:nth-child(2) {
    color: red;
    padding: 0px 14px;
    width: auto;
    white-space: nowrap;
}

.section-title-hr {
    width: initial;
    height: 1px;
    border: 1px solid rgb(255, 111, 0);
    background-color: red;
    display: block;
    opacity: 1;
}

.selected-chat {
    background-color: rgb(230,230,230);
    border-radius: 3%
}

.form-floating{
    margin-bottom:10px;
}

.content{
    margin-top:10px;
    margin-bottom:10px;
}