@using Taskord.Services.Teams.Models
@model IEnumerable<TeamServiceModel>


@foreach(var team in Model)
{
    <a asp-controller="Chats" asp-action="Get" asp-route-teamId="@team.Id" class="dropdown-item">@team.Name</a>
}