@using Taskord.Services.Teams.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<TeamListServiceModel>

<div class="sidebar">
    <ul>
        @foreach(var team in Model){
            <li>
                <a href="chats/@team.Id">
                    <img src=@team.ImagePath alt="teamImage">
                    <p>@team.Name</p>
                </a>
            </li>
        }
    </ul>
</div>