@using Taskord.Services.Teams.Models
@model IEnumerable<TeamListServiceModel>

<div class="sidebar">
    <ul>
        @foreach(var team in Model){
            <li>
                <a href="chats/@team.Id">
                    <img src=@team.ImagePath alt="teamImage">
                    <p>@team.Name</p>
                </a>
            </li>
        }
    </ul>
</div>