<div class="text-center">
    <h1 class="display-4">About Taskord</h1>

    <hr />

    <p class="infoText">
        Taskord is a web app built with ASP.NET Core as a project for the <a href="https://softuni.bg/trainings/3601/asp-dot-net-core-february-2022">SoftUni ASP.NET Core Course</a>.
        It is an <a href="https://github.com/bonevboyan/Taskord">open source project on GitHub</a>.
    </p>
</div>