@model TaskerMaster.Web.ViewModels.Companies.CompanyFormModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Company Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name here...">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Image URL</label>
        <input asp-for="ImageUrl" class="form-control" placeholder="Image URL here...">
        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompanySize">Company Size</label>
        <span asp-validation-for="Name" class="small text-danger"></span>
        <select asp-for="CompanySize">
            @foreach (var companySize in Model.CompanySizes)
            {
                <option>@companySize</option> 
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CompanyType">Company Type</label>
        <span asp-validation-for="CompanyType" class="small text-danger"></span>
        <select asp-for="CompanyType">
            @foreach (var companyType in Model.CompanyTypes)
            {
                <option>@companyType</option> 
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="14" placeholder="Content here..."></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>

    <div class="text-center pt-2">
        <input class="btn btn-outline-secondary" type="submit" value="Save" />
    </div>
</form>