@using Taskord.Services.Users.Models
@model IEnumerable<UserListServiceModel>

<div class="sidebar">
    @*<small class="text-muted pl-3">Chats</small>*@
    <ul>
        @foreach(var user in Model){
            <li>
                <a href="me/chats/@user.Id">
                    <img src=@user.ImagePath>
                    <p>@user.Name</p>
                </a>
            </li>
        }
    </ul>
</div>