@model FriendRequestsViewModel

<div class="row">
    @foreach (var user in Model.ReceivedRequests)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@user.ImagePath">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@user.Name</h5>
                    <a asp-controller="Personal" asp-action="Chats" asp-route-userId="@user.Id" class="btn btn-primary">Accept Friend Request</a>
                </div>
            </div>
        </div>
    }
</div>